html{
  height: 100%;
}

body{
  overflow-x:hidden;
}
.site-content { // Sticky Footer
  //@include flex();
}
header, footer{
  //@include flex-shrink(0);
}
.container-fluid{
  max-width: $max-site-width;
  width:100%;
  margin: 0 auto;
  position: relative;
}

main {
    min-height: 350px;
}

main.padded {
  padding-bottom:50px;
}

.flex-row{
  @media (min-width: $screen-md-min) {
    @include flexbox();
  }

  .content{
    @media (min-width: $screen-md-min) {
      @include flex();
      @include flex-basis(75%);
      padding:0 15px 30px;
      padding-right:8.3333333%;
    }
  }

  .aside{
    display: none;

    @media (min-width: $screen-md-min) {
      display: block;
      @include flex();
      @include flex-basis(25%);
      padding:50px 15px;
      margin-top:-50px;
      border-left: 1px dashed $menu-link-border-color;
    }
  }
}
