html{
  height: 100%;
}

body{
  /*@include flexbox();
  @include flex-direction(column);

  min-height: 100vh;*/

  &.ie{
    /*min-height: 100%;
    height: auto!important;
    height: 100%;*/
  }
}
.site-content { // Sticky Footer
  //@include flex();
}
header, footer{
  //@include flex-shrink(0);
}
.container-fluid{
  max-width: $max-site-width;
  width:100%;
  margin: 0 auto;
  position: relative;
}


main.padded {
  padding-bottom:50px;
}
