footer {
  background: url('images/brown.png') repeat;
  padding: 10px 0;

  .footer-content {
      margin-bottom: 100px;
  }

  .footer-wrapper{
    background: url('images/illustration-01.png') no-repeat;
    background-size: auto;
    background-position: left bottom 10px;

    padding: 20px 15px 10px;

    @media (min-width: $screen-md-min) {
      background-position: center bottom 25px;
      background-size: cover;
    }
  }

  .footer-widget {
    text-align: center;
    color:#e7d8c8;
    font-weight: 300;

    @media (min-width: $screen-md-min) {
      text-align: left;
    }

    a {
      color:#e7d8c8;
    }
  }

  .copyright {
    text-align: center;
    padding:15px 0 0 0;
    font-weight: 300;
    color:#e7d8c8;

    a {
      color:#fff;
    }
  }

  .footer-nav{
    @media(min-width: $screen-md-min) {
      padding-right:0;
      padding-left:30px;
    }
  }

  .footer-navigation {

    ul {
      list-style: none;
      padding:0;

      ul{
        display: none;
      }

      li {
        float:left;
        width:100%;
        padding:8px 5px;
        text-align: center;

        @media(min-width: $screen-sm-min) {
          width:50%;
        }

        @media(min-width: $screen-lg-min) {
          padding: 15px 5px;
        }

        @media(min-width: $screen-lg-min) {
          width:33.33333%;
          text-align: left;

          &:nth-child(3n + 1){
            clear:left;
          }
        }

        a {
          font-size: 15px;
          font-weight: 500;
          padding:15px 0;
          font-style: normal;
          font-stretch: normal;
          color: #ffffff;
        }
      }
    }
  }
}
