  header {

  position: relative;
  text-align: center;
  background: $header-bg;
  z-index: 500;
  position: relative;
  border-top:10px solid #f5f5f5;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  @media (min-width: $screen-md-min) {
    padding-right: 0;
  }

  .header-container {
    max-width: $max-site-width;
    width:100%;
    position: relative;
    min-height: 55px;
    padding-right:55px;
    margin: 0 auto;
      @media (min-width: $screen-md-min) {
        padding:0 15px;
        padding-right:65px;
      }
  }

  .brand{
    //@media (min-width: $screen-md-min) {
      float:left;
    //}

    img {

      max-width:100%;
      width:auto;
      height:40px;
      margin:6px auto 10px;

      @media (min-width: $screen-md-min) {
        height:44px;
        display:block;
      }
    }
  }
}

/* Child Site Styling */
@media (min-width: $screen-md-min) {
 .child-site .header-container .search-form{
    display: none;
  }

  header.child-site .header-container{
    @media (min-width: $screen-md-min) {
      padding-right:15px;
    }
  }
}
