.search-form {

  @media (min-width: $screen-md-min) {
    position: absolute;
    z-index: 600;
    right:15px;
    top:15px;
    padding-right:45px;
  }


  .search-fields {

    @media (min-width: $screen-md-min) {
      width: 0;
      height:45px;
      background: #fff;
      overflow: hidden;

      -webkit-transition: .4s ease all;
      -moz-transition: .4s ease all;
      -o-transition: .4s ease all;
      transition: .4s ease all;

    }

    form{

      .search-wrapper{
        position: relative;
        padding-right:45px;
        max-width: 320px;
        margin:0 auto;

        @media (min-width: $screen-md-min) {
          width:240px;
        }
      }

      input {
        height:45px;
        margin:0;
        padding:0;
        border:none;
        display: block;

        &.search-input {
          padding: 0 10px;
          width:100%;
          border:1px solid #ccc;
        }
      }

      button.search-submit{
        border:none;
        outline:none;
        position: absolute;
        top:0;
        right:0;
        padding:0;
        background:#c1311a;
        color:#fff;
        font-size:20px;
        line-height: 45px;
        font-weight: bold;
        height:45px;
        width:45px;
      }

      @media (min-width: $screen-md-min) {

        input {
          float:left;
        }
      }
    }
  }

  .search-toggle {

    display:none; //Hide on Mobile
    position: absolute;
    right:0;
    background: #fff;
    outline: none;
    border: none;
    width:45px;
    height:45px;
    line-height:38px;
    padding:0;
    color:#d0021b;
    font-size: 22px;

    @media (min-width: $screen-md-min) {
      display: block;
    }
  }

  &.active{
    .search-fields {
      display:block;

      @media (min-width: $screen-md-min) {
        width:240px;
      }
    }

    .search-toggle .fa:before,
    .search-toggle .fa:after {
      content: '';
      position: absolute;
      height: 3px;
      width: 60%;
      top: 60%;
      left: 8px;
      margin-top: -5px;
      background-color:#d0021b;
    }
    .search-toggle .fa:before{
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .search-toggle .fa:after{
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}
