.blog-cards{
    padding:0 15px;
}

.blog-card{

  @include border-radius(7px);
  @include box-shadow(0 2px 12px 3px rgba(0, 0, 0, 0.15));

  overflow: hidden;
  margin: 30px 0;

  @media (min-width: $screen-md-min) {
    @include flexbox();
    @include flex-direction(row);
  }

  .blog-img{

    width:100%;
    height: 300px;

    @media (min-width: $screen-md-min) {
      @include flex(1 0 50%);
      height: auto;
    }

    .img-div{
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }

  h3 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    color: #c1311a;
    margin:0 0 10px;
  }

  .blog-info {
    @include flex(1 0 50%);
    background: url('images/cream.png') top left repeat;
  }

  .blog-info-wrapper{
    border: 1px dashed #c13019;
    background: rgba(255,255,255,.75);
    padding:22px;
    margin:15px;
  }

  .buttons a {

    @include border-radius(5px);
    @include box-shadow(0 0 4px 0 rgba(0, 0, 0, 0.1));

    display: inline-block;
    background-image: linear-gradient(to bottom, #db2c10, #bf311a);
    font-size: 16px;
    padding:10px 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ffffff;
    margin:5px 0;
  }

  .categories {
    padding:15px 0 5px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: #c1311a;
  }
}
