.product-carousel{
  position: relative;

  &:after {
    content:'';
    background-color: rgba(255, 255, 255, 0.65);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;

    @media (min-width: $screen-sm-min) {
      height: 50px;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  .carousel-btn {
      position: absolute;
      background: #c1311a;
      border: none;
      outline: none;
      height: 40px;
      width: 40px;
      bottom: 0;
      right: 0;
      z-index: 200;
      color: #fff;
      font-weight: 300;
      font-size: 18px;
      line-height: 40px;

      &.slick-prev{
        right:42px;
      }

      @media (min-width: $screen-sm-min) {
        height: 50px;
        width: 50px;
        line-height: 50px;
        font-size: 24px;

        &.slick-prev{
          right:52px;
        }
      }
  }
}

.quote-hero.hero{
  min-height: auto;
  padding:30px 0;
  display: block;
}

.quote-carousel {

  width:100%;
  max-width: 1200px;
  margin: 0 auto;

  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.52;
  letter-spacing: -0.2px;
  color: #ffffff;

  @media (min-width: $screen-sm-min) {
    font-size: 34px;
  }

  .quote{
    font-family: 'Vollkorn', serif;

    p:before, p:after {
      content: '"';
      opacity: 0.49;
      font-family: "Times New Roman", Times, serif;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: -0.5px;
      text-align: center;
      color: #ffffff;
    }
  }

  .source {
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: #c09b72;
    padding:10px 0 30px;
  }
}
.carousel-nav{
  margin:0 auto;
  text-align: center;
  position: relative;
  width: auto;
  display: inline-block;
  padding:15px 75px;
  height:50px;

  a {
    display: block;
    top:0;
    left:0;
    position: absolute;
    font-size: 32px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    color:#fff;
    font-weight: 300;

    &:hover{
      text-decoration: none;
      cursor: pointer;
    }

    &.slick-next {
      right:0;
      left:auto;
    }
  }

  ul {
    list-style: none;
    margin:0;
    padding:0;
    vertical-align: top;

    li {
      display: block;
      float:left;
      margin-top:3px;
      padding:0 10px;
      height: 50px;
      line-height: 50px;

      button {
        background: transparent;
        height: 15px;
        width:15px;
        border-radius: 50%;

        display: block;
        border: 1px solid #fff;

        font-size: 1px;
        text-indent: 999px;
        white-space: nowrap;
        overflow: hidden;
      }
      &.slick-active button{
        background: #fff;
      }
    }
  }
}
