
.featured-content-wrapper {
  background-image: url('images/wood-texture.png');
 background-size: contain;
}

.featured-content {
  max-width: 1020px;
  margin: 0 auto 75px;
  display:flex;

  .featured-item{
    flex:1;
    background: url('images/pattern.png');
    margin:-35px 10px -50px;
    z-index: 200;
    display: flex;
    flex-direction: column;

    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);

    img {
      min-width:100%;
      max-height: 200px;
    }

    &:nth-child(3n){
      flex:2;
    }
  }

  .featured-section {
    display:flex;
    flex-direction: column;
    flex: 1;
    margin:10px;
    padding:15px;
    border:1px dashed #fff;
    background: rgba(255,255,255, .15);
  }

  .featured-button {

    a {
      padding:10px 45px;
      margin-top:8px;
      font-size: 18px;
      border-radius: 5px;
      display:inline-block;
      background-color: #f4eadc;
    }
  }

  .featured-body{
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    flex:1;
  }

  h3 {
    margin:0 0 5px;
    font-size: 29px;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
  }
}
