.featured-posts-wrapper{
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.69), rgba(243, 234, 220, 0.73));
}

.featured-posts{
  margin: 0 auto;
  max-width: 1200px;
  padding:30px 15px 50px;

  @media (min-width: $screen-md-min) {
    display:flex;
  }


  .featured-post {
    overflow:hidden;
    margin: 40px auto;
    max-width: 350px;

    @media (min-width: $screen-md-min) {
      max-width: none;
      display: flex;
      flex-direction: column;
      flex:1;
      margin-left:0;
      margin-right:40px;

      &:last-child{ margin-right:0;}
    }


    .featured-post-content {
      border-left: 1px dashed $header-border-color;
      margin-top:20px;
      padding-left:20px;

      @media (min-width: $screen-md-min) {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
    }

    .featured-thumbnail {

      overflow: hidden;
      border-radius: 7px;

      img {
        width:auto;
        min-width: 100%;
        border-radius: 7px;
        height:200px;
      }
    }

    .featured-title {
      font-size: 24px;
      margin-bottom: 10px;
      font-weight: bold;
      color: #c1311a;
      text-transform: uppercase;
    }
    .featured-description {
      font-size: 18px;
      line-height: 1.67;
      flex:1;
      color: #794400;
    }

    .featured-button a {
      padding:10px 45px;
      margin-top:15px;
      border-radius: 5px;
      display:inline-block;
      background-image: linear-gradient(to bottom, #db2c10, #bf311a);
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
      font-size: 20px;
      font-weight: 500;
      color: #fff;
    }
  }
}
