
.hero{
  position: relative;
  overflow:hidden;
  min-height: 300px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;

  width:100%;
  padding-bottom:100px;
  display:table;

  @media (min-width: $screen-md-min) {
    min-height: 400px;

  }

  @media (min-width: $screen-lg-min) {
    min-height: 450px;

  }

  .hero-text-wrapper{
    display:table-cell;
    vertical-align:middle;
    padding:20px 0;

    > div {
      max-width: $max-site-width;
      margin:0 auto;
    }
  }

  .hero-text{

    font-size: 26px;
    line-height: 1.33;
    color: #c1311a;
    font-weight: 300;

    width:90%;
    margin:30px 5%;
    padding:20px;
    background-color:rgba(255, 255, 255, 0.7);

    @media (min-width: $screen-sm-min) {
      width:70%;
      font-size:26px;
    }

    @media (min-width: $screen-md-min) {
      font-size: 33px;
      width:60%;
    }

    @media (min-width: $screen-lg-min) {
      width:40%;
    }

    .hero-button {

      margin-top:25px;

      a {
        border-radius: 5px;
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        padding: 10px 15px;
        color: #ffffff;
        background-image: linear-gradient(to bottom, #db2c10, #bf311a);
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);

        @media (min-width: $screen-md-min) {
          font-size: 18px;
          padding: 10px 30px;
        }
      }
    }
  }
}
