.modal.open{
  display: block;
  background:rgba(0, 0, 0, 0.5);
}
.admin-bar .modal-dialog{
  margin-top: 50px;
}

.modal-dialog {

  width:95%;

  @media (min-width: $screen-md-min) {
    width:85%;
  }

  @media (min-width: $screen-lg-min) {
    width:75%;
  }
}

.modal-body{
  iframe {
    height: 300px;

    @media (min-width: $screen-md-min) {
      height: 400px;
    }

    @media (min-width: $screen-lg-min) {
      height: 500px;
    }
  }
}
