
.product-list{
    padding:65px 0;

    @media (min-width: $screen-sm-min) {
      @include flexbox();
      @include flex-direction(row);
      @include flex-wrap(wrap);
    }
}

.product-card-wrapper{
  @media (min-width: $screen-sm-min) {
    @include flexbox();
    @include flex(0 1 50%);
    @include flex-direction(column);
  }

  @media (min-width: $screen-md-min) {
    @include flex(0 1 33%);
  }
  padding:0 15px 30px;
}

.product-card{

  @include flex(1 0 auto);
  @include flexbox();
  @include flex-direction(column);
  @include border-radius(7px);
  @include box-shadow(0 2px 12px 3px rgba(0, 0, 0, 0.05));
  background-color: #ffffff;
  border: 1px dashed rgba(192, 155, 113, 0.75);

  .product-img{
    margin:-1px;
    overflow: hidden;
    border-top-right-radius:7px;
    border-top-left-radius: 7px;
    height: 250px;
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top center;
  }

  .product-section{

    @include flexbox();
    @include flex(1 0 auto);
    @include flex-direction(column);

    padding: 30px;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: #794400;


    h3 {
      margin: 10px 0;
      font-size: 30px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      color: #c1311a;
    }

    .blurb{
      @include flex(1 0 auto);
    }
  }

  .product-button{
    padding:10px 30px 30px;
  }

  .product-buttons{
    text-align: center;
    overflow: hidden;
    padding:10px 30px 30px;

    a {
      display: block;
      margin-top:10px;
    }

    &.two-buttons{
      a {
        @media (min-width: $screen-md-min) {
          float:left;
          width:48%;
          margin-top:0px;
          margin-right:2%;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;

          &:nth-child(2){
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            margin-right:0;
          }
        }
      }
    }
  }
}
