.sidebar {
  padding-left:10px;

  h3 {
    margin:0 0 10px;

    span {

    }
  }

  ul {
    list-style: none;
    padding:0;
    margin:0;

    li {
      padding:10px 0 10px 10px;

      a {

        display: inline-block;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        color: #c09b72;
        border-bottom:2px solid #c09b72;
      }

      ul li {
        a {
          padding:0;
          border:none;
          font-size: 20px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.1;
          color: #c1311a;
        }
      }
    }
  }
}

.sidebar-categories.sidebar {

  h3{
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: #9b9b9b;
  }

  ul {
    list-style:none;
    padding: 0;
    margin:0;

    li {
      padding:0;

      a {
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        color: #c1311a;
        display: block;
        padding:5px 0;
        border:none;
      }
    }
  }
}
