
ul.social-icons {

  padding:10px 0;
  list-style: none;
  text-align: center;

  @media (min-width: $screen-md-min) {
    text-align: left;
  }

  li {
    display:inline-block;
    margin: 0 5px;
    a {
      @include border-radius(50%);
      display: block;
      width: 45px;
      height: 45px;
      text-align: center;
      color:#fff;

      @media (min-width: $screen-md-min) {
        width: 50px;
        height: 50px;
      }

      .fa {
        display: block;
        font-size: 24px;
        line-height: 45px;

        @media (min-width: $screen-md-min) {
          font-size: 28px;
          line-height: 50px;
        }
      }

      &.icon-facebook {
        background:#3b5999;
      }
      &.icon-instagram {
        background: #e20049;
      }
      &.icon-rss {
        background: #ff9000;
      }
      &.icon-pinterest{
        background: #cb2027;
      }
      &.icon-twitter {
        background: #55acee;
      }
      &.icon-youtube {
        background: #e52d27;
      }
    }

  }
}
