
ul.social-icons {

  padding:10px 0;
  list-style: none;

  li {
    display:inline-block;
    margin: 0 5px;
    a {
      display: block;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      text-align: center;
      color:#fff;

      .fa {
        display: block;
        font-size: 28px;
        line-height: 50px;
      }

      &.icon-facebook {
        background:#3b5999;
      }
      &.icon-instagram {
        background: #e20049;
      }
      &.icon-rss {
        background: #ff9000;
      }
      &.icon-twitter {
        background: #55acee;
      }
      &.icon-youtube {
        background: #e52d27;
      }
    }

  }
}
