
.hero{
  position: relative;
  overflow:hidden;

  img {
    min-height: 200px;
    min-width: 100%;
    height: auto;
    width:auto;
  }

  .hero-text{
    position: absolute;
    top:10%;
    left:50%;
    width:40%;
    
    font-size: 33px;
    line-height: 1.33;
    color: #c1311a;
    font-weight: 300;

    .hero-button {

      margin-top:25px;

      a {
        border-radius: 5px;
        display: inline-block;
        background-color: #bf311a;
        font-size: 24px;
        font-weight: 500;
        padding: 10px 25px;
        color: #ffffff;
      }
    }
  }
}
