.button {
  border-radius: 5px;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  color: #ffffff;
  background-image: linear-gradient(to bottom, #db2c10, #bf311a);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);

  &:hover{
    //text-decoration: none;
    color:#fff;
  }
}
