
//Header Variables
$header-bg: #fff;
$header-border-color: #c09b72;

//Menu Variables
$menu-link-color: #c1311a;
$menu-link-border-color: #c09b72;

$extra-nav-bg:#f5f5f5;

//Footer Variables
//$footer-bg: #8b572a;
$footer-bg: #58381c;
