
body{
  font-family: "Gotham SSm A", "Gotham SSm B", $font-family-sans-serif;
  font-style: normal;
  font-weight: 400;
}

main {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: #794400;

  .alignright{
    float:right;
    display: block;
    margin-left:15px;
  }
  .alignleft{
    float:left;
    display: block;
    margin-right:15px;
  }

  img {
    max-width: 100%;
    height: auto;

    &.aligncenter{
      display: block;
      margin: 30px auto;
    }
  }
}


h1, h2, h3 {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #c1311a;
}

blockquote {
  position: relative;
  font-family: 'Vollkorn', serif;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -0.3px;
  text-align: center;
  color: #c1311a;
  padding: 30px 15px;
  border:none;

  &:before, &:after{
    position: absolute;
    width: 175px;
    top:0;
    content: '';
    border-top:2px dashed $menu-link-border-color;
    left:50%;
    margin-left:-87.5px;
  }

  &:after{
    top:auto;
    bottom:0;
  }
}
