.search-form {
  position: absolute;
  right:15px;
  padding-right:40px;

  .search-fields {
    width: 0;
    height:40px;
    background: #fff;
    overflow: hidden;

    -webkit-transition: .4s ease all;
    -moz-transition: .4s ease all;
    -o-transition: .4s ease all;
    transition: .4s ease all;

    form{
      width:240px;

      input {
        height:40px;
        margin:0;
        padding:0;
        border:none;
        display: block;
        float:left;

        &.search-input {
          padding: 0 10px;
          width: 170px;
          border:1px solid #ccc;
        }

        &.search-submit{
          width:70px;
          background:#d0021b;
          color:#fff;
          font-weight: bold;
        }

      }
    }
  }

  .search-toggle {
    position: absolute;
    right:0;
    background: #fff;
    outline: none;
    border: none;
    width:40px;
    height:40px;
    line-height:38px;
    padding:0;
    color:#d0021b;
    font-size: 24px;
  }

  &.active{
    .search-fields {
      display:block;
      width:240px;
    }

    .search-toggle .fa:before,
    .search-toggle .fa:after {
      content: '';
      position: absolute;
      height: 3px;
      width: 60%;
      top: 60%;
      left: 8px;
      margin-top: -5px;
      background-color:#d0021b;
    }
    .search-toggle .fa:before{
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .search-toggle .fa:after{
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}
