.community-events{
  margin:30px 0;

  .featured-content-wrapper {
    margin:75px 0;

    .featured-item .img-wrapper{
      background: #fff;
    }
  }
}

.community-partners {

  background-image: linear-gradient(to bottom,rgba(255,255,255,.69),rgba(243,234,220,.73));
  padding-bottom:50px;

  h3 {
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: #c09b72;
  }

  .partner-imgs{
    @media (min-width: $screen-sm-min) {
      @include flexbox();
      @include flex-direction(row);
      @include flex-wrap(wrap);
    }

    .partner-img{

      @include flexbox();
      @include align-items(center);
      @include justify-content(center);

      @media (min-width: $screen-sm-min) {
        @include flex-basis(50%);
      }

      @media (min-width: $screen-md-min) {
        @include flex-basis(33%);
      }

      img{
        @include flex(0 0 auto);
        padding:30px;
        width:70%;
      }
    }
  }
}
