.ukrops-family{

  position: relative;
  margin:50px 0 0;
  padding-bottom:50px;
  background-position: top left;
  background-repeat: repeat;
  background: url('images/cream.png');

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  }

  h2 {
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    color: #c1311a;
    margin: 0;
    padding: 50px 0 10px;
    position: relative;

    span {
      padding:0 5px;
      background: url('images/cream.png') left repeat-x;
      position: relative;
    }

    &:before{
      content: "";
      position: absolute;
      width: 100%;
      top:75px;
      left:0;
      height: 1px;
      opacity: 0.57;
      border: dashed 1px #c09b72;
    }
  }

  h3 {
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: #c09b72;
  }
}

.brands {
  padding-bottom: 50px;

  @media (min-width: $screen-sm-min) {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(wrap);
  }

  .brand-item{
    padding:15px 0;

    @media (min-width: $screen-sm-min) {
      @include flex-basis(50%);
      max-width: 50%;
    }

    @media (min-width: $screen-md-min) {
      @include flex-basis(20%);
    }

    @include flex(1 0 auto);
    @include flexbox();
    @include flex-direction(column);

    .brand-img{

      height: 200px;
      position: relative;
      padding:10px 15px 10px;

      @include flexbox();
      @include align-items(center);
      @include justify-content(center);

      .img-wrapper {
        height: 100%;
        width:95%;
        margin:0 auto;

        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;

        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .brand-content{
      @include flex(1 0 auto);
      padding:0 15px;
    }

    &:nth-child(1),
    &:nth-child(2){
      .brand-img .img-wrapper{
        width:75%;
      }
    }

    a {
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      color: #c1311a;
      display: inline-block;
      padding:0 15px;
    }
  }
}
