.search-term{
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #794400;
  margin: 0 0 50px;
}
.search-result{
  margin:0 0 25px;
  padding:0 0 25px;
  border-bottom: 2px dashed #c09b72;

  h2{
      margin:0 0 10px;
      font-size: 40px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      color: #c1311a;
  }
  .blurb {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: #794400;
  }
}

.link{
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: #c1311a;
}

.paginate{

  padding:25px 0 50px;
  text-align: center;

    a, span {
      @include border-radius(3px);

      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      color: #c1311a;
      height: 35px;
      padding:0 10px;
      margin-right: 2px;
      line-height: 35px;

      &.current{
        border: 1px solid #bf311a;
      }

      &:hover {
        @include box-shadow(0 0 4px 0 rgba(0, 0, 0, 0.1));
        cursor: pointer;
        text-decoration: none;
        background-image: linear-gradient(to bottom, #db2c10, #bf311a);
        color:#fff;
      }

      &.disabled {
        color:#c09b72;

        &:hover{
          @include box-shadow(none);
          background-image: none;
          cursor:not-allowed;
          color:#c09b72;
        }
      }

    }
}
