.store-hero.hero{

  min-height: auto;
  max-height: 290px;
}

.search-column.col-md-3{
  float:none;

  @media (min-width: $screen-md-min) {
    float:right;
    padding-left:30px;
    padding-top:40px;
  }
}

.map-column {
  @media (min-width: $screen-md-min) {
    padding-right:30px;
    padding-top:40px;
  }
}

form.store-locator{

  max-width: 320px;

  h3 {
      font-size: 26px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      color: #794400;
  }

  label {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: #794400;
  }

  .search {
    display: block;
    outline: none;
    border:none;
    text-align: center;
  }

}

table.table.store-locator {

  border: solid 1px #dedede;

  > thead > tr {
      border-bottom: 2px dashed rgba(192, 155, 113, 0.75);
    > th {
      //border-bottom: 2px dashed rgba(192, 155, 113, 0.75);
      border: none;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      color: #794400;
    }
  }

  > tbody> tr {
    td {
      border-top:solid 1px #dedede;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      color: #794400;
    }
  }

}


.store-intro{
 font-size: 18px;
 font-weight: 400;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.5;
 color: #794400;
}
.store-branding{

  h3 {
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: #c09b72;
    clear:both;
  }

  .store-imgs {
    overflow: hidden;
    margin:10px 0 50px;
  }

  .img-wrapper{
    float:left;
    width:33%;
    padding:30px;

    &:nth-child(4){
      clear:left;
      padding:30px 15px;
    }

    img{
      width: 100%;
      height: auto;
    }
  }
}

.dataTables_info {
    float:left;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: #794400
}
.dataTables_length {
    text-align: right;
}

.dataTables_paginate {
  float:right;

  a {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    color: #c1311a;
    border-radius: 3px;
    height: 35px;
    padding:0 10px;
    margin-right: 2px;
    line-height: 35px;

    &.current{
      border: 1px solid #bf311a;
    }

    &:hover {
      cursor: pointer;
      text-decoration: none;
      background-image: linear-gradient(to bottom, #db2c10, #bf311a);
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
      color:#fff;
    }

    &.disabled {
      color:#c09b72;

      &:hover{
        background-image: none;
        box-shadow: none;
        cursor:not-allowed;
        color:#c09b72;
      }
    }

  }
}
