.store-hero.hero{

  min-height: auto;
  max-height: 290px;
}

.store-locator-div{
  .aside{
    display:block;
    @media (min-width: $screen-md-min) {
      order:2;
    }
  }
  content {
    @media (min-width: $screen-md-min) {
      order:1;
    }
  }
}

form.store-locator{

  max-width: 320px;

  h3 {
      font-size: 26px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      color: #794400;
  }

  label {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: #794400;
  }

  .search {
    display: block;
    outline: none;
    border:none;
    text-align: center;
  }

}

table.table.store-locator {

  border: solid 1px #dedede;

  > thead > tr {
      border-bottom: 2px dashed rgba(192, 155, 113, 0.75);
    > th {
      //border-bottom: 2px dashed rgba(192, 155, 113, 0.75);
      border: none;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      color: #794400;
    }
  }

  > tbody> tr {
    td {
      border-top:solid 1px #dedede;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      color: #794400;

      &:nth-child(4){
        min-width:151px !important;
      }
      &:nth-child(5){
        max-width:300px !important;
      }      
    }
  }

}


.store-intro{
 font-size: 18px;
 font-weight: 400;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.5;
 color: #794400;
}
.store-branding{

  h3 {
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: #c09b72;
    clear:both;
    margin:40px 0 0;
  }

  .partner-imgs{
    @media (min-width: $screen-sm-min) {
      @include flexbox();
      @include flex-direction(row);
      @include flex-wrap(wrap);
    }

    .partner-img{
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);

      @media (min-width: $screen-sm-min) {
        @include flex-basis(50%);
      }

      @media (min-width: $screen-md-min) {
        @include flex-basis(33%);
      }

      img{
        @include flex(0 0 auto);
        padding:30px;
        width:70%;
      }
    }
  }
}

.dataTables_info {
    float:left;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: #794400
}
.dataTables_length {
    text-align: right;
}

.dataTables_paginate {
  float:right;

  a {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    color: #c1311a;
    border-radius: 3px;
    height: 35px;
    padding:0 10px;
    margin-right: 2px;
    line-height: 35px;

    &.current{
      border: 1px solid #bf311a;
    }

    &:hover {
      cursor: pointer;
      text-decoration: none;
      background-image: linear-gradient(to bottom, #db2c10, #bf311a);
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
      color:#fff;
    }

    &.disabled {
      color:#c09b72;

      &:hover{
        background-image: none;
        box-shadow: none;
        cursor:not-allowed;
        color:#c09b72;
      }
    }

  }
}
